Repository hivezga/nivora-aura-desktop, changes with the labels that .github/labeler.yml gives for each.
All labels: area: backend, area: frontend, area: documentation, area: ci/cd, area: dependencies, area: database, area: voice, area: integrations, area: ui

.github/labeler.yml:

# Label PRs based on changed files

"area: backend":
  - "src-tauri/**/*"

"area: frontend":
  - "src/**/*"
  - "*.tsx"
  - "*.ts"

"area: documentation":
  - "Documentation/**/*"
  - "**.md"
  - "README.md"

"area: ci/cd":
  - ".github/workflows/**/*"
  - ".github/dependabot.yml"

"area: dependencies":
  - "package.json"
  - "pnpm-lock.yaml"
  - "src-tauri/Cargo.toml"
  - "src-tauri/Cargo.lock"

"area: database":
  - "src-tauri/src/database.rs"

"area: voice":
  - "src-tauri/src/native_voice.rs"
  - "src-tauri/src/tts.rs"
  - "src-tauri/src/voice_biometrics.rs"

"area: integrations":
  - "src-tauri/src/spotify_*.rs"
  - "src-tauri/src/ha_*.rs"
  - "src-tauri/src/music_intent.rs"
  - "src-tauri/src/smarthome_intent.rs"

"area: ui":
  - "src/components/**/*"
  - "src/App.tsx"

Fixed CI/DC
  .claude/settings.local.json
Labels: none

Fix: Resolve Systemic CI Failures
  Documentation/VOICE_BIOMETRICS_INTEGRATION_GUIDE.md
  Documentation/VOICE_BIOMETRICS_MODEL_SETUP.md
  src/components/EnrollmentModal.tsx
  src/components/UserProfilesSettings.tsx
  src/hooks/useAudioRecording.ts
Labels: area: frontend, area: documentation, area: ui

voice Biometrics Integration
  README.md
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.toml
  src-tauri/src/database.rs
  src-tauri/src/error.rs
  src-tauri/src/lib.rs
  src-tauri/src/spotify_client.rs
  src-tauri/src/voice_biometrics.rs
  src/components/DevicesView.tsx
  src/components/EnrollmentModal.tsx
  src/components/SettingsModal.tsx
  src/components/UserProfilesSettings.tsx
Labels: area: backend, area: frontend, area: documentation, area: dependencies, area: database, area: voice, area: integrations, area: ui

fix(ci): Resolve systemic CI failures
  .github/workflows/ci.yml
  src-tauri/src/database.rs
  src-tauri/src/entity_manager.rs
  src-tauri/src/error.rs
  src-tauri/src/ha_client.rs
  src-tauri/src/lib.rs
  src-tauri/src/llm.rs
  src-tauri/src/music_intent.rs
  src-tauri/src/native_voice.rs
  src-tauri/src/ollama_sidecar.rs
  src-tauri/src/secrets.rs
  src-tauri/src/smarthome_intent.rs
  src-tauri/src/spotify_auth.rs
  src-tauri/src/spotify_client.rs
  src-tauri/src/tts.rs
  src-tauri/src/voice_biometrics.rs
  src-tauri/src/web_search.rs
  src/components/DevicesView.tsx
Labels: area: backend, area: frontend, area: ci/cd, area: database, area: voice, area: integrations, area: ui

Update ci.yml
  .github/workflows/ci.yml
Labels: area: ci/cd

Fix compilation errors in dev mode
  package.json
  pnpm-lock.yaml
  src-tauri/src/database.rs
  src-tauri/src/lib.rs
  src-tauri/src/spotify_client.rs
  src-tauri/src/voice_biometrics.rs
Labels: area: backend, area: dependencies, area: database, area: voice, area: integrations

Fix Tailwind CSS PostCSS configuration for v4
  package.json
  pnpm-lock.yaml
  postcss.config.js
Labels: area: dependencies

Fix frontend build by downgrading to Tailwind CSS v3
  package.json
  pnpm-lock.yaml
  postcss.config.js
Labels: area: dependencies
